<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="Opponents" value="3"/>
    <add key="AI0" value="AI\Boss0.exe"/>
    <add key="AI1" value="AI\Boss1.exe"/>
    <add key="AI2" value="AI\Boss2.exe"/>
    <add key="MaxLeague" value ="1"/>
  </appSettings>
</configuration>